


<div>
<p>
Código de barras 39, define 43 caracteres, letras (A a la Z), números (0 al 9)</br>
y 7 caracteres especiales (-, ., $, /, +, %, and space). </br>
Caracter adicional ('*') usado como start / stop, delimitadores. </br>
</br>
Petción código de barras 39</br></p>

<form method="get" action="/imagen">
    <input type="text" name="barcode">
    <input type="submit">
 </form>

</div>

