
    <h2>   Barcode 39   </h2>
    
    <form method= "get" action = "/barcodes/barras">
      <p>  Introduce código: <%= pregunta %> </p>
      <input type="text" name="respuesta" value = ""/> <p>
      
      <input type= "submit" value ="Enviar">
     </form>
   